config global
    option enabled          '1'
    option chipset          'sx1302'

config sx1302
    option model            'dragino_lps8n'
    option region           ''
    option channel_plan     ''
    option antenna_gain     '2'
    option com_dev_path     '/dev/spidev1.0'
    option sx1302_reset_pin '23'


