config global
    option enabled          '0'
    option chipset          'sx1301'

config sx1301
    option model            'dragino_lps8_sx1308'
    option region           ''
    option channel_plan     ''
    option gnss             0
    option antenna_gain     '2'
    option sx1301_reset_pin '23'
    # SPI path is set by libloragw default (/dev/spidev1.0) and symlink in concentratord.sh


